services:

  postgres:	
    image: postgres:16
    container_name: TechcoreMicroservices-PostgresContainer
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - BooksKeeper-Db-Data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgresDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 554034
      POSTGRES_HOST_AUTH_METHOD: trust

  redis:
    image: redis:7-alpine
    container_name: TechcoreMicroservices-RedisContainer
    restart: unless-stopped
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  
  mongodb:
    image: mongo:7.0
    container_name: TechcoreMicroservices-MongoContainer
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: ProductReviewsDB
    volumes:
      - mongo-data:/data/db

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: TechcoreMicroservices-RabbitMqContainer
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: rabbit
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/mnesia

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: TechcoreMicroservices-ZookeeperContainer
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - kafka-net

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: TechcoreMicroservices-KafkaContainer
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_DELETE_TOPIC_ENABLE: "true"
    networks:
      - kafka-net

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
    - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - kafka-net

volumes:
  BooksKeeper-Db-Data:
  redis-data:
  mongo-data:
  rabbitmq-data: 
  
networks:
  kafka-net:
    driver: bridge